#one{
	border: 2px solid black;
	width: 10%;
	height: 10%;
	color: black;
	background-color: lightblue;
	text-align: center;
	font-size: 2em;
	position: fixed;
	left: 0%;
	bottom: 0%;
}
#two{
	border: 2px solid black;
	width: 10%;
	height: 10%;
	color: black;
	background-color: lightblue;
	text-align: center;
	font-size: 2em;
	position: fixed;
	left: 0%;
	bottom: 10%;
}
#three{
	border: 2px solid black;
	width: 10%;
	height: 10%;
	color: black;
	background-color: lightblue;
	text-align: center;
	font-size: 2em;
	position: fixed;
	left: 10%;
	bottom: 0%;
}
#four{
	border: 2px solid black;
	width: 10%;
	height: 10%;
	color: black;
	background-color: lightblue;
	text-align: center;
	font-size: 2em;
	position: fixed;
	left: 10%;
	bottom: 10%;
}
#five{
	border: 2px solid black;
	width: 10%;
	height: 10%;
	color: black;
	background-color: lightblue;
	text-align: center;
	font-size: 2em;
	position: fixed;
	left: 30%;
	bottom: 0%;
}
#six{
	border: 2px solid black;
	width: 10%;
	height: 10%;
	color: black;
	background-color: lightblue;
	text-align: center;
	font-size: 2em;
	position: fixed;
	left: 30%;
	bottom: 10%;
}
#seven{
	border: 2px solid black;
	width: 10%;
	height: 10%;
	color: black;
	background-color: lightblue;
	text-align: center;
	font-size: 2em;
	position: fixed;
	left: 40%;
	bottom: 0%;
}
#eight{
	border: 2px solid black;
	width: 10%;
	height: 10%;
	color: black;
	background-color: lightblue;
	text-align: center;
	font-size: 2em;
	position: fixed;
	left: 40%;
	bottom: 10%;
}
#nine{
	border: 2px solid black;
	width: 10%;
	height: 10%;
	color: black;
	background-color: lightblue;
	text-align: center;
	font-size: 2em;
	position: fixed;
	left: 60%;
	bottom: 0%;
}
#ten{
	border: 2px solid black;
	width: 10%;
	height: 10%;
	color: black;
	background-color: lightblue;
	text-align: center;
	font-size: 2em;
	position: fixed;
	left: 60%;
	bottom: 10%;
}
#eleven{
	border: 2px solid black;
	width: 10%;
	height: 10%;
	color: black;
	background-color: lightblue;
	text-align: center;
	font-size: 2em;
	position: fixed;
	left: 70%;
	bottom: 0%;
}
#twelve{
	border: 2px solid black;
	width: 10%;
	height: 10%;
	color: black;
	background-color: lightblue;
	text-align: center;
	font-size: 2em;
	position: fixed;
	left: 70%;
	bottom: 10%;
}
#thirdteen{
	border: 2px solid black;
	width: 10%;
	height: 10%;
	color: black;
	background-color: lightblue;
	text-align: center;
	font-size: 2em;
	position: fixed;
	right: 0%;
	top: 0%;
}
#fourteen{
	border: 2px solid black;
	width: 10%;
	height: 10%;
	color: black;
	background-color: lightblue;
	text-align: center;
	font-size: 2em;
	position: fixed;
	right: 20%;
	top: 0%;
}
#fiveteen{
	border: 2px solid black;
	width: 10%;
	height: 10%;
	color: black;
	background-color: lightblue;
	text-align: center;
	font-size: 2em;
	position: fixed;
	right: 40%;
	top: 0%;
}
#sixteen{
	border: 2px solid black;
	width: 10%;
	height: 10%;
	color: black;
	background-color: lightblue;
	text-align: center;
	font-size: 2em;
	position: fixed;
	right: 60%;
	top: 0%;
}
#seventeen{
	border: 2px solid black;
	width: 10%;
	height: 10%;
	color: black;
	background-color: lightblue;
	text-align: center;
	font-size: 2em;
	position: fixed;
	right: 80%;
	top: 0%;
}
#eightteen{
	border: 2px solid black;
	width: 10%;
	height: 10%;
	color: black;
	background-color: lightblue;
	text-align: center;
	font-size: 2em;
	position: fixed;
	left: 0%;
	top: 30%;
}