<?php

$dbname = 'logboek';
$username = 'root';
$passwd = '';

$dsn = 'mysql:dbname=' . $dbname . ';host=localhost';

try {
    $pdo = new PDO($dsn, $username, $passwd);
} catch (PDOException $e) {
    echo 'Connection failed: '.$e->getMessage();
}